<h1 mat-dialog-title>Reset Password</h1>
<form [formGroup]="resetPasswordForm">
  <mat-form-field>
    <input matInput type="password" maxlength="20" placeholder="Password" [formControlName]="'password'" maxLength="20">
    <mat-error *ngIf="password.invalid">{{getErrorText('password')}}</mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput type="password" maxlength="20" placeholder="Confirm password" [formControlName]="'confirmPassword'" maxLength="20">
    <mat-error *ngIf="confirmPassword.invalid">{{getErrorText('confirmPassword')}}</mat-error>
  </mat-form-field>

</form>

<div class="reset-password-controls">
  <button mat-icon-button color="primary" [disabled]="resetPasswordForm.invalid" (click)="onSubmit()" cdkFocus="">
    Save
  </button>
  <mat-spinner *ngIf="loading" diameter="40" color="primary">
  </mat-spinner>
</div>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>

