mat-form-field {
  width: 20%;
  margin: 1% 2% 0 2%;
}

h1 {
  text-align: center;
  margin-top: 4%;
}

.fill-space {
  flex: 1 1 auto;
}
form{
  text-align: center;
}
.reset-password-controls {
  display: flex;
  justify-content: center;
}

