<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title translate>About1.1</mat-panel-title>
    </mat-expansion-panel-header>
    <p translate>About1.2</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title translate>About2.1</mat-panel-title>
    </mat-expansion-panel-header>
    <p translate>About2.2</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title translate>About3.1</mat-panel-title>
    </mat-expansion-panel-header>
    <p translate>About3.2</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title translate>About4.1</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Болошенко</p>
    <p>Гаркавик</p>
    <p>Кореник</p>
    <p>Пеховский</p>
    <p>Петров</p>
  </mat-expansion-panel>
</mat-accordion>
