<h1 mat-dialog-title>Forgot your password?</h1>
<form [formGroup]="emailForm">
  <mat-form-field>
    <input matInput placeholder="Email" [formControlName]="'email'" maxLength="40" required/>
    <mat-error *ngIf="login.invalid">{{getErrorText('email')}}</mat-error>
  </mat-form-field>


</form>

<div class="edit-user-controls">
  <button mat-button color="warn" (click)=onCancelClick()> Cancel </button>
  <button mat-button color="primary" [disabled]="emailForm.invalid" (click)="onSubmit()" cdkFocus>
    Submit
  </button>
  <mat-spinner *ngIf="(isLoading)| async" diameter="40" color="primary">
  </mat-spinner>
</div>

<div *ngIf="error | async" class="alert alert-danger">{{(error | async)}}</div>
