.image-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

img {
  cursor: pointer;
  margin-bottom: 1%;
}

.img-size {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.spinner-image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
